body {
  font-family: var(--font-default);
  color: var(--color-default);
  background-image: url('vendedores.jpg');
  background-color: rgb(7, 6, 6);
  }

.formulario{
  color: rgb(8, 225, 84);
}
.titulo{
  color: rgb(149, 209, 19);
  text-align: center;
}