<h1>Editar esta categoría</h1>
<%= render "form", category: @category %>
<br>
<div>
  <%= link_to "Mostrar esta categoría", @category %> |
  <%= link_to "Regresar a categorías", categories_path %>
</div>
