<p style="color: green"><%= notice %></p>
<h1 class="titulo">Categorías</h1>
<div id="categories">
  <% @categories.each do |category| %>
    <%= render category %>
    <p>
      <%= link_to "Mostrar esta categoría", category %>
    </p>
  <% end %>
</div>
<%= link_to "NUEVA CATEGORÍA", new_category_path %>
