<div class="formulario" id="<%= dom_id product %>">
  <p>
    <strong>Nombre:</strong>
    <%= product.name %>
  </p>
  <p>
    <strong>Precio:</strong>
    <%= product.price %>
  </p>
  <p>
    <strong>Tamaño:</strong>
    <%= product.size %>
  </p>
</div>
