<p style="color: green"><%= notice %></p>
<h1 class="titulo">PRODUCTOS</h1>
<div id="products">
  <% @products.each do |product| %>
    <%= render product %>
    <p>
      <%= link_to "Mostrar este producto", product %>
    </p>
  <% end %>
</div>
<%= link_to "NUEVO PRODUCTO", new_product_path %>
